@media (max-width: 1500px) {
    html {
      font-size: 45%;
    }
    .section-1 {
      width: auto;
      height: 39vh;
    }
  
    .carousel-bg {
      padding: 8rem;
    }
  }
  
  @media (max-width: 1100px) {
    html {
      font-size: 40%;
    }
  }
  
  @media (max-height: 1400px) {
    .section-1 {
      width: auto;
      height: 100vh;
    }
  
    .logo img {
      width: 5rem;
      height: 5rem;
    }
  
    .sticky-nav {
      width: 100%;
    }
  
    .sticky-nav img {
      width: 18rem;
      height: 5rem;
    }
  
    .section-2 {
      width: 100%;
      height: 105vh;
    }
  
    .col-md-3 {
      padding-right: 2px !important;
      padding-left: 2px !important;
    }
  
    .history-text {
      width: 55%;
    }
  
    .history img {
      height: 13rem;
      width: 24rem;
    }
  
    .history-text {
      font-size: 1.8rem;
    }
  
    .climb-text {
      font-size: 1.8rem;
    }
    .climb img {
      height: 13rem;
      width: 24rem;
    }
  
    .climb-text {
      width: 52%;
    }
  
    .section-3 {
      height: 90vh;
    }
  
    .schedule-container img {
      height: 25rem;
      width: 40rem;
    }
  }
  
  @media (max-width: 1400) {
    .section-1 {
      height: 46vh;
    }
  }
  
  @media (min-width: 770px) {
    .accordion {
      display: none;
    }
  }
  
  @media (max-width: 770px) {
    .section-1 {
      height: 60vh;
    }
  
    .section-2 {
      height: 96rem;
      overflow: auto;
    }
  
    .carousel-inner {
      overflow: hidden;
      height: 55vh;
    }
  
    .accordion {
      /* height: 20rem; */
      width: 100%;
    }
  
    .climb-text {
      width: 40%;
    }
  
    .climb img {
      margin-top: 2rem;
    }
  
    .logo {
      left: 5%;
    }
  
    .logo2 {
      position: absolute;
      top: 1rem;
      left: 5%;
      transition: transform 0.5s;
    }
  
    .section-3 {
      height: auto;
    }
  
    .tab-container {
      display: none;
    }
  
    #myTabContent {
      display: none;
    }
  
    .schedule-container img {
      display: none;
    }
  
    .schedule {
      margin: 0;
      transform: scale(1);
    }
    .schedule2 {
      margin: 0;
      transform: scale(0.5);
    }
    
    
  
    .accordion-item:first-of-type .accordion-button,
    .accordion-button:not(.collapsed),
    .accordion-item:last-of-type .accordion-button.collapsed {
      font-size: 3rem;
    }
  
    .accordion-button:not(.collapsed) {
      background-color: #3d4d6d;
      color:  #fff;
    }
  
    .accordion-bg1 {
      background: url('/images/tab1.png') no-repeat;
      background-size: cover;
      height: 80%;
      background-position: bottom;
    }
    .accordion-bg2 {
      background: url('/images/tab2.png') no-repeat;
      background-size: cover;
      height: 100%;
      background-position: bottom;
    }
  
    .footer-logo {
      left: 5%;
    }
  
    .copy {
      right: 5%;
    }
  
    .copy img {
      width: 35rem;
    }
  
    .navbar,
    .navbar2 {
      right: 0%;
    }
  
    .schedule-container {
      left: 10%;
    }
  }
  